<div class="card">
  <div class="content">
    <i class="right floated huge {{icon}} {{colour}} icon"></i>
    <h3 class="ui header">{{title}}</h3>
    <div class="description">
      <div class="ui text"> {{valueA}}{{abrA}}</div>
      <div class="ui text"> {{valueB}}{{abrB}}</div>
    </div>
    <div class="description ui two column grid">
      <div class="column">
        <div class="ui text">
          <div class="ui text"> {{valueC}}{{abrC}}</div>
          <div class="ui text"> {{valueD}}{{abrD}}</div>
          <div class="ui text"> {{valueE}}{{abrE}}</div>
          <div class="ui text"> {{valueF}}{{abrF}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
